* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html, body {
  width: 100%;
}


.relative {
  position: relative;
  width: 100%;
  height: 260vh;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #222;
  display: flex;
  align-items: center;
}
.navbar ul {
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  color: #eee;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 300;

}



.absolute {
  position: relative;
  width: 100%;
  height: 70vh;
  background-color: #ddd;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  letter-spacing: 1px;
}

.absolute .desc {
  text-align: center;
}

.absolute h2 {
  font-size: 50px;
  font-weight: 100;
  font-family: sans-serif;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: uppercase;
  
}




.parallax {
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("img/bg-work.jpg") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;

}

 .contain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: appear 1s;
  animation-delay: 6s;
  animation-fill-mode: backwards;
  
}
.contain p {
  font-size: 60px;
  color: #ddd;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 70px;
}
.contain a {
  text-decoration: none;
  color: #eee;
  text-align: center;
  border: 2px #eee;
  border-style: double;
  padding: 20px;
  transition: 0.5s ease-in-out;
  margin-bottom: 100px;
}

.social {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  animation: appear 1s;
  animation-delay: 6s;
  animation-fill-mode: backwards;
 
}

.social a {
  margin: 30px;
  filter: grayscale(100%);
  transition: 0.2s ease-in;
}

.social a:hover {
  filter: grayscale(0%);
}

.projects>a {
  z-index: 9;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.projects>a:hover {
    opacity: 0.5;
}




.contain a:hover {
  padding: 25px;
  background-color: rgba(255,255,255,0.2);
}


.lang {
  position: absolute;
  width: 100%;
  top: 30vh;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 50px 100px;
  justify-items: center;
  
}

.lang img {
  filter: grayscale(100%);
  transition: 0.2s ease-in;
}

.lang img:hover {
  filter: grayscale(0%);
}

@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) { 
      .parallax {
        overflow: hidden;
      }
      .absolute {
        padding: 20px;
      }
      
      .absolute .lang {
        padding-bottom: 150px;
      }

    }
@media screen and (max-width: 600px) {
  .absolute {
    padding: 20px;
  }
  
  .absolute .lang {
    padding-bottom: 150px;
  }
  .absolute h2, .work h2, .absolute-2 h2 {
    font-size: 40px;
  
  }
  .relative {
    height: 280vh;
  }
  .work {
    height: 60vh;
  }
  .company #savis {
    width: 30%;
  }
  .image-3 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .footer {
    position: absolute;
    top: 2200px;
  }
  .continue p {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .parallax {
    background-attachment: scroll;
  }
  .work {
    background-attachment: scroll;
  }
  .contain p {
    font-size: 35px;
  }
  .lang {
    grid-template-columns: 130px 130px 130px;
    grid-template-rows: 75px ;
    height: 300px;
    justify-content: space-evenly;
  }

  .work .company #savis{
    width: 50%;
  }  
  .work .company #fpt{
    width: 60%;
  }

  .social a {
    margin: 0;
  }


}
@media screen and (max-width: 1024px) {
  .lang {
    top: 50vh;
    grid-gap: 30px 50px;
  }
  .social a {
    margin: 20px;
  }


  .work .company #savis{
    width: 40%;
  }  
  .work .company #fpt{
    width: 60%;
  }
}
@media screen and (max-width: 1440px) {
  .lang {
    top: 40vh;
    grid-gap: 30px 50px;
  }
}

@media screen and (max-width: 1658px) {
  .projects .link {
    display: none;
  }
}
.lang img {
  width: 30%;
  height: auto;
}

.work {
  position: relative;
  width: 100%;
  height: 50vh;
  background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.4)), url("img/background.jpg") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 50vh;
}

.work .work-text {
  position: absolute;
  width: 100%;
  margin-top: 40px;
  text-align: center;
  color: #ddd;
  letter-spacing: 1px;
}

.work .work-text h2 {
  font-size: 50px;
  font-weight: 100;
  font-family: sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.work .company {
  position: absolute;
  width: 100%;
  height: 30vh;
  top: 20vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;


}

.work .company img {
  width: 70%;
  height: 50%;
}


.absolute-2 {
  position: relative;
  width: 100%;
  height: 135vh;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

.absolute-2 h2 {
  font-size: 50px;
  font-weight: 100;
  font-family: sans-serif;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: uppercase;

}

@media screen and (min-width: 600px) {
    
}
.projects {
  position: absolute;
  width: 100%;
  top: 30vh;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px 10px;
  justify-items: center;


}


.projects img{
  width: 90%;
  height: auto;
  border: 2px solid #222;
}

.projects #go {
  height: 100%;
}

.projects #school {
  height: 100%;
}

.projects #jwt {
  height: 100%;
}

.projects #workflow {
  height: 100%;
}


.projects img {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.project img:hover {
  opacity: 0.5;
}

.fade-in {
  opacity: 0;
}

.absolute-2 .continue {
  position: absolute;
  width: 100%;
  height: 135vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  bottom: 50px;
}

.footer {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}



.footer p {
  color: #ddd;
  letter-spacing: 1px;
  font-weight: 100;
}



.loader {
  position: fixed;
  z-index: 99; 
  width: 100%;
  height: 100vh;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}


.loader.hidden {
  animation: out 0.5s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}
.circle {
  margin-left: 30px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #eee;
  
}

#circle-1 {
  animation: moveDown 2s; 
  animation-delay: 1s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}
#circle-2 {
  animation: moveDown 2s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}
#circle-3 {
  animation: moveDown 2s; 
  animation-delay: 2s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}



.projects .image-3 {
  position: relative;
}


.projects .image-3:hover img {
  opacity: 0.3;
}



.projects .image-3 .middle {
  position: absolute;
  top: 0;
  left: 5%;
  bottom: 0;
  right: 0;
  margin-right:5%;
  height:100%;
  width: 90%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0,0,0,0.8);
  z-index: 99;
}
.projects .image-3:hover .middle {
  opacity: 1;
}

.projects .image-3 .btn {
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in;
}

.projects .btn a {
  margin: 10px;
  padding: 25px;
  background-color: #222;
  border: 1px solid #ddd; 
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: 0.2s ease-in;
}

.projects .btn a:hover {
    background-color: rgba(0,0,0,0.4);
}


@keyframes moveToLeft {
  0%{
      transform: translateX(120px);
      opacity: 0;
  }

  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes moveToRight {
  0% {
      transform: translateX(-140px);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes moveDown {
  0% {
      transform: translateY(-50px);
      opacity: 0;

  }
  100% {
      transform: translateY(0);
      opacity: 1;

  }
}
@keyframes appear {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@keyframes out {
   100% {
     opacity: 0;
     visibility: hidden;
  }
}

